// reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
img,
q,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
video,
button,
select {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Pretendard', 'Poppins', Helvetica, 'Apple SD Gothic Neo', Dotum, 돋움, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

button,
input[type='search'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='submit'],
input[type='reset'],
input[type='tel'],
input[type='password'],
input[type='url'],
input[type='file'],
textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    font-family: 'Pretendard', 'Poppins', Helvetica, 'Apple SD Gothic Neo', Dotum, 돋움, sans-serif;
    font-size: 100%;
    appearance: none;
}

label,
button:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

// screen
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.hidden {
    display: none;
}
