@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
html {
  font-size: 16px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  line-height: 1;
  color: #222;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 400;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
img,
q,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
video,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Pretendard", "Poppins", Helvetica, "Apple SD Gothic Neo", Dotum, 돋움, sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

button,
input[type=search],
input[type=text],
input[type=email],
input[type=number],
input[type=submit],
input[type=reset],
input[type=tel],
input[type=password],
input[type=url],
input[type=file],
textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  font-family: "Pretendard", "Poppins", Helvetica, "Apple SD Gothic Neo", Dotum, 돋움, sans-serif;
  font-size: 100%;
  appearance: none;
}

label,
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

footer {
  padding: 3.25rem 0 3.75rem 0;
  background-color: #f2f2f2;
  font-size: 0.875rem;
  color: #767676;
}

.footer-con {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-con nav {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: #222;
  border-bottom: 1px solid #c4c4c4;
}
.footer-con nav .info-con a {
  padding-right: 2rem;
  position: relative;
}
.footer-con nav .info-con a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1px;
  height: 0.75rem;
  background-color: #222;
  transform: translateY(-50%);
}
.footer-con nav .info-con a:last-child::after {
  display: none;
}
.footer-con nav .social-con {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 0.75rem;
}
.footer-con nav .social-con a img {
  width: 2rem;
}
.footer-con p {
  line-height: 1.5;
}

header {
  padding: 1.25rem 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.header-con {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-con a h1 img {
  min-width: 7.75rem;
  margin-right: 1.5rem;
}
.header-con form {
  max-width: 25rem;
  width: 100%;
  padding: 0.5rem 1.25rem;
  display: flex;
  border-radius: 25rem;
  border: 2px solid #21bf48;
}
.header-con form input {
  width: 100%;
}
.header-con nav {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 1.5rem;
  font-size: 0.75rem;
  color: #767676;
}
.header-con nav .nav-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.header-con nav img {
  width: 2rem;
}

.mypage-modal {
  position: absolute;
  width: 130px;
  right: -42px;
  top: 60px;
  padding: 10px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.mypage-modal button {
  padding: 10px 0;
  color: #767676;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #fff;
}
.mypage-modal button:hover {
  color: #222;
  border: 1px solid #767676;
}

.main-banner {
  width: 100%;
  height: 500px;
  padding: 0 30px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-banner img {
  width: 60px;
}
.main-banner .swiper-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}
.main-banner .swiper-btn button {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #fff;
}
.main-banner .swiper-btn button.active {
  background-color: #222;
}

.product-gallery {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0 180px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.product-gallery .product-con .product-thumb {
  width: 380px;
  height: 380px;
}
.product-gallery .product-con .product-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
.product-gallery .product-con .product-info {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #222;
}
.product-gallery .product-con .product-info .sub-title {
  color: #767676;
  font-size: 1rem;
}
.product-gallery .product-con .product-info .main-title {
  font-size: 1.25rem;
}
.product-gallery .product-con .product-info .product-price {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
.product-gallery .product-con .product-info .product-price::after {
  content: "원";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  padding-left: 2px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-con {
  max-width: 360px;
  height: auto;
  width: 100%;
  padding: 50px 0 40px 0;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.modal-con p {
  padding-bottom: 24px;
  line-height: 1.4;
}
.modal-con .btn-con {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal-con button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
}
.modal-con .no-btn {
  color: #767676;
  border: 1px solid #c4c4c4;
}
.modal-con .yes-btn {
  color: #fff;
  background-color: #21bf48;
}
.modal-con .close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.login-cite {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-cite h1 {
  max-width: 15rem;
  width: 100%;
}
.login-cite h1 img {
  width: 100%;
}

.tabs-con {
  max-width: 550px;
  width: 100%;
  margin: 70px 0 30px 0;
}
.tabs-con .tabs {
  display: flex;
}
.tabs-con .tabs .tab-label {
  padding: 1rem 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: #f2f2f2;
  border: 1px solid #c4c4c4;
}
.tabs-con .tabs .tab-label:not(:first-child) {
  margin-left: -1px;
}
.tabs-con .tabs input[type=radio]:checked + .tab-label {
  background-color: #fff;
  border-bottom: none;
}
.tabs-con form {
  padding: 2rem;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  border: 1px solid #c4c4c4;
  border-top: none;
}
.tabs-con form input {
  padding: 1.25rem 0;
  border-bottom: 1px solid #c4c4c4;
}
.tabs-con form input::placeholder {
  color: #767676;
}
.tabs-con form input:focus {
  border-bottom: 1px solid #222;
}
.tabs-con form .error {
  padding: 1.5rem 0;
  color: #eb5757;
}
.tabs-con form button {
  padding: 1rem 0;
  margin-top: 1.5rem;
  background-color: #21bf48;
  color: #fff;
  border-radius: 8px;
}

.login-info a {
  margin-right: 2rem;
  position: relative;
}
.login-info a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 1px;
  height: 0.75rem;
  background-color: #222;
  transform: translateY(-50%);
}
.login-info a:last-child {
  margin: 0;
}
.login-info a:last-child::after {
  display: none;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  padding: 54px 0 52px 0;
  font-size: 36px;
  font-weight: 700;
}

.cart-title {
  width: 100%;
  padding: 1.25rem 1.75rem;
  display: flex;
  gap: 1.75rem;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}
.cart-title .info {
  flex-grow: 1;
}
.cart-title .count {
  width: 260px;
}
.cart-title .price {
  width: 260px;
}

.cart-list {
  width: 100%;
  margin: 35px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-list li {
  width: 100%;
  padding: 1.25rem 1.75rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.cart-list li .product-cart {
  flex-grow: 1;
  display: flex;
  gap: 36px;
}
.cart-list li .product-cart .product-thumb-cart {
  max-width: 160px;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-list li .product-cart .info-con {
  padding: 6px 0 16px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-list li .product-cart .info-con .sub-title {
  color: #767676;
  font-size: 14px;
}
.cart-list li .product-cart .info-con .main-title {
  font-size: 18px;
}
.cart-list li .product-cart .info-con .product-price {
  height: 100%;
  font-weight: 600;
}
.cart-list li .product-cart .info-con .delivery {
  color: #767676;
  font-size: 14px;
}
.cart-list li .counter-con {
  width: 260px;
}
.cart-list li .product-cost {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.cart-list li .product-cost .cost {
  color: #eb5757;
  font-size: 18px;
  font-weight: 600;
}
.cart-list li .product-cost button {
  padding: 10px 36px;
  color: #fff;
  background-color: #21bf48;
  border-radius: 5px;
}
.cart-list li .close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.check label::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/icon-check.svg") no-repeat center;
  background-size: 20px 20px;
  display: block;
}
.check input[type=checkbox] {
  display: none;
}
.check input[type=checkbox]:checked + label::before {
  background: url("../../assets/icons/icon-checked.svg") no-repeat center;
  background-size: 20px 20px;
  display: block;
}

.counter-con {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-con .counter {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}
.counter-con .counter img {
  padding: 1rem;
}
.counter-con .counter div {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}

.cost-result-con {
  padding-bottom: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cost-result-con .cost-result {
  width: 100%;
  margin: 0 0 40px 0;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.cost-result-con .cost-result div {
  width: 100%;
}
.cost-result-con .cost-result div p {
  padding-bottom: 10px;
}
.cost-result-con .cost-result div span {
  margin-right: 1rem;
  font-weight: 600;
  font-size: 24px;
  position: relative;
}
.cost-result-con .cost-result div span::after {
  content: "원";
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  padding-left: 2px;
  transform: translateY(-50%);
}
.cost-result-con .cost-result .icon-minus {
  position: absolute;
  left: 25%;
}
.cost-result-con .cost-result .icon-plus {
  position: absolute;
  left: 48%;
}
.cost-result-con button {
  padding: 18px 64px;
  color: #fff;
  background-color: #21bf48;
  font-weight: 600;
  font-size: 24px;
  border-radius: 5px;
}

.red {
  color: #eb5757;
}

.no-cart {
  padding: 120px 0 200px 0;
  text-align: center;
}
.no-cart p {
  font-size: 18px;
  font-weight: 600;
}
.no-cart .sub-text {
  padding-top: 1rem;
  color: #767676;
  font-size: 14px;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.not-found .text-con {
  display: flex;
  flex-direction: column;
}
.not-found .text-con p {
  font-size: 2rem;
  font-weight: 600;
}
.not-found .text-con p:nth-last-of-type(1) {
  padding: 20px 0 40px 0;
  color: #767676;
  font-size: 1rem;
  line-height: 1.4;
}
.not-found .text-con .btn-con {
  display: flex;
  gap: 1rem;
}
.not-found .text-con .btn-con button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-weight: 500;
}
.not-found .text-con .btn-con .primary-btn {
  color: #fff;
  background-color: #21bf48;
}
.not-found .text-con .btn-con .secondary-btn {
  color: #767676;
  border: 1px solid #c4c4c4;
}

.product-detail {
  width: 100%;
  padding: 80px 0 140px 0;
  display: flex;
  gap: 50px;
}
.product-detail .product-detail-img-con {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-detail .product-detail-img-con .product-detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-detail .product-detail-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-detail .product-detail-info .detail-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.product-detail .product-detail-info .detail-info .store-info {
  color: #767676;
  font-size: 18px;
}
.product-detail .product-detail-info .detail-info .product-info {
  padding-top: 16px;
  font-size: 36px;
}
.product-detail .product-detail-info .detail-info .price-info {
  padding-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.product-detail .product-detail-info .detail-info .price-info::after {
  content: "원";
  font-size: 18px;
  font-weight: 400;
}
.product-detail .product-detail-info .detail-info .delivery-info {
  padding: 0 0 20px 0;
  color: #767676;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}
.product-detail .product-detail-info .product-counter-con {
  padding: 30px 0 30px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.product-detail .product-detail-info .product-counter-con .counter {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}
.product-detail .product-detail-info .product-counter-con .counter img {
  width: 20px;
  height: 20px;
  margin: 1rem;
}
.product-detail .product-detail-info .product-counter-con .counter div {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
.product-detail .product-detail-info .cost-result-info {
  padding: 32px 0 24px 0;
  display: flex;
  align-items: center;
}
.product-detail .product-detail-info .cost-result-info .cost-info {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 600;
}
.product-detail .product-detail-info .cost-result-info .count-result {
  font-size: 18px;
  font-weight: 400;
  color: #767676;
}
.product-detail .product-detail-info .cost-result-info .count-result span {
  display: inline-block;
  padding-left: 4px;
  font-weight: 600;
  color: #21bf48;
}
.product-detail .product-detail-info .cost-result-info .count-result span::after {
  content: "개";
  padding-left: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #767676;
}
.product-detail .product-detail-info .cost-result-info .cost-result {
  padding-left: 12px;
  margin-left: 12px;
  font-size: 36px;
  font-weight: 600;
  color: #21bf48;
  position: relative;
}
.product-detail .product-detail-info .cost-result-info .cost-result::before {
  content: "";
  top: 50%;
  left: 0;
  width: 1px;
  height: 18px;
  position: absolute;
  transform: translateY(-50%);
  background-color: #c4c4c4;
}
.product-detail .product-detail-info .cost-result-info .cost-result::after {
  content: "원";
  font-size: 18px;
  font-weight: 400;
}
.product-detail .product-detail-info .btn-con {
  display: flex;
  gap: 1rem;
}
.product-detail .product-detail-info .btn-con button {
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.product-detail .product-detail-info .btn-con .purchase-btn {
  width: 70%;
  background-color: #21bf48;
}
.product-detail .product-detail-info .btn-con .cart-btn {
  width: 30%;
  background-color: #767676;
}

.info-con {
  width: 100%;
}
.info-con .tab-btn-con {
  width: 100%;
  display: flex;
}
.info-con .tab-btn-con .tab-btn {
  width: 100%;
  margin-bottom: 100px;
  padding: 18px 0;
  color: #767676;
  font-size: 18px;
  border-bottom: 6px solid #e0e0e0;
}
.info-con .tab-btn-con .tab-btn[aria-selected=true] {
  color: #21bf48;
  border-bottom: 6px solid #21bf48;
  font-weight: 600;
}

.payment-title {
  width: 100%;
  padding: 1.25rem 1.75rem;
  display: flex;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}
.payment-title li {
  width: 220px;
}
.payment-title .info {
  flex-grow: 1;
}

.payment-list {
  width: 100%;
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.payment-list li {
  width: 100%;
  padding: 1.25rem 1.75rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
}
.payment-list li .product-payment {
  width: 100%;
  display: flex;
}
.payment-list li .product-payment img {
  width: 100px;
  height: 100px;
  margin-right: 36px;
  border-radius: 10px;
}
.payment-list li .product-payment div {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.payment-list li .product-payment .product-con {
  flex-grow: 1;
  justify-content: flex-start;
}
.payment-list li .product-payment .product-con .info-con {
  padding: 12px 0 18px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-list li .product-payment .product-con .info-con .sub-title {
  color: #767676;
  font-size: 14px;
}
.payment-list li .product-payment .product-con .info-con .main-title {
  padding: 6px 0 10px 0;
}
.payment-list li .product-payment .product-con .info-con .product-count {
  color: #767676;
  font-size: 14px;
}
.payment-list li .product-payment .sale {
  color: #767676;
}
.payment-list li .product-payment .delivery {
  color: #767676;
}
.payment-list li .product-payment .cost {
  font-weight: 600;
}

.all-cost {
  width: 100%;
  padding-bottom: 90px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 18px;
}
.all-cost span {
  color: #eb5757;
  font-size: 24px;
}

.delivery-con {
  width: 100%;
  padding-bottom: 70px;
}
.delivery-con h3 {
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid #c4c4c4;
}
.delivery-con form p {
  padding: 40px 0 8px 0;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #c4c4c4;
}
.delivery-con form .inp-con {
  padding: 8px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
.delivery-con form label {
  width: 170px;
  font-size: 16px;
}
.delivery-con form input {
  padding: 0 12px;
  width: 340px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.pay-container {
  width: 100%;
  padding-bottom: 120px;
  display: flex;
  gap: 40px;
}

.pay-con {
  width: 100%;
}
.pay-con h3 {
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid #c4c4c4;
}
.pay-con form {
  padding: 18px 12px;
  border-bottom: 2px solid #c4c4c4;
}

.pay-info-con {
  max-width: 480px;
  width: 100%;
}
.pay-info-con h3 {
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
}
.pay-info-con .cost-result-con {
  border-radius: 10px;
  border: 2px solid #21bf48;
}
.pay-info-con .cost-result-con .cost-info {
  width: 100%;
  padding: 32px 32px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.pay-info-con .cost-result-con .cost-info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pay-info-con .cost-result-con .cost-info li span {
  font-size: 18px;
  font-weight: 600;
}
.pay-info-con .cost-result-con .cost-info li span::after {
  content: "원";
  font-size: 14px;
  font-weight: 400;
}
.pay-info-con .cost-result-con .cost-info li:nth-last-of-type(1) {
  padding-top: 20px;
  border-top: 1px solid #c4c4c4;
}
.pay-info-con .cost-result-con .cost-info li:nth-last-of-type(1) span {
  font-size: 24px;
  font-weight: 600;
  color: #eb5757;
}
.pay-info-con .cost-result-con .cost-info li:nth-last-of-type(1) span::after {
  content: "원";
  font-size: 24px;
  font-weight: 600;
}
.pay-info-con .cost-result-con .check-con {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0 0 10px 10px;
}
.pay-info-con .cost-result-con .check-con label {
  width: 100%;
  position: relative;
  padding-left: 30px;
  line-height: 1.2;
}
.pay-info-con .cost-result-con .check-con label::before {
  content: "";
  background: url("../../assets/icons/icon-checkbox.svg") no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
.pay-info-con .cost-result-con .check-con button {
  width: 220px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #c4c4c4;
}/*# sourceMappingURL=main.css.map */