footer {
    padding: 3.25rem 0 3.75rem 0;
    background-color: $gray-f2;

    font-size: 0.875rem;
    color: $gray-76;
}

.footer-con {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    nav {
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;

        color: $black;
        border-bottom: 1px solid $gray-c4;

        .info-con {
            a {
                padding-right: 2rem;
                position: relative;
            }

            a::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1rem;
                width: 1px;
                height: 0.75rem;
                background-color: $black;
                transform: translateY(-50%);
            }

            a:last-child::after {
                display: none;
            }
        }

        .social-con {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 0.75rem;

            a img {
                width: 2rem;
            }
        }
    }
}
