main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding: 54px 0 52px 0;
        font-size: 36px;
        font-weight: 700;
    }
}

.cart-title {
    width: 100%;
    padding: 1.25rem 1.75rem;
    display: flex;
    gap: 1.75rem;

    font-size: 18px;
    background-color: $gray-f2;
    border-radius: 10px;
    text-align: center;

    .info {
        flex-grow: 1;
    }
    .count {
        width: 260px;
    }
    .price {
        width: 260px;
    }
}

.cart-list {
    width: 100%;
    margin: 35px 0 80px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        width: 100%;
        padding: 1.25rem 1.75rem;
        display: flex;
        align-items: center;
        gap: 1.75rem;
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 10px;

        .product-cart {
            flex-grow: 1;
            display: flex;
            gap: 36px;

            .product-thumb-cart {
                max-width: 160px;
                width: 100%;
                height: 160px;
                object-fit: cover;
                border-radius: 10px;
            }

            .info-con {
                padding: 6px 0 16px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .sub-title {
                    color: $gray-76;
                    font-size: 14px;
                }

                .main-title {
                    font-size: 18px;
                }

                .product-price {
                    height: 100%;
                    font-weight: 600;
                }

                .delivery {
                    color: $gray-76;
                    font-size: 14px;
                }
            }
        }

        .counter-con {
            width: 260px;
        }

        .product-cost {
            width: 260px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 26px;

            .cost {
                color: $red;
                font-size: 18px;
                font-weight: 600;
            }

            button {
                padding: 10px 36px;
                color: $white;
                background-color: $primary-color;
                border-radius: 5px;
            }
        }

        .close-btn {
            position: absolute;
            top: 18px;
            right: 18px;
        }
    }
}

.check {
    label {
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background: url('../../assets/icons/icon-check.svg') no-repeat center;
            background-size: 20px 20px;
            display: block;
        }
    }

    input[type='checkbox'] {
        display: none;

        &:checked + label::before {
            background: url('../../assets/icons/icon-checked.svg') no-repeat center;
            background-size: 20px 20px;
            display: block;
        }
    }
}

.counter-con {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .counter {
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid $gray-c4;

        img {
            padding: 1rem;
        }
        div {
            width: 100%;
            height: 52px;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            border-left: 1px solid $gray-c4;
            border-right: 1px solid $gray-c4;
        }
    }
}

.cost-result-con {
    padding-bottom: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cost-result {
        width: 100%;
        margin: 0 0 40px 0;
        padding: 40px;
        display: flex;
        align-items: center;
        position: relative;

        text-align: center;
        background-color: $gray-f2;
        border-radius: 10px;

        div {
            width: 100%;

            p {
                padding-bottom: 10px;
            }

            span {
                margin-right: 1rem;
                font-weight: 600;
                font-size: 24px;
                position: relative;

                &::after {
                    content: '원';
                    font-weight: 400;
                    font-size: 1rem;
                    position: absolute;
                    top: 50%;
                    padding-left: 2px;
                    transform: translateY(-50%);
                }
            }
        }

        .icon-minus {
            position: absolute;
            left: 25%;
        }
        .icon-plus {
            position: absolute;
            left: 48%;
        }
    }

    button {
        padding: 18px 64px;
        color: $white;
        background-color: $primary-color;
        font-weight: 600;
        font-size: 24px;
        border-radius: 5px;
    }
}

.red {
    color: $red;
}

.no-cart {
    padding: 120px 0 200px 0;
    text-align: center;

    p {
        font-size: 18px;
        font-weight: 600;
    }

    .sub-text {
        padding-top: 1rem;
        color: $gray-76;
        font-size: 14px;
    }
}
